<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Jiyoung - High-Level Programmer</title>
</head>
<body>
  <h1>반장은 역시 킹지영👍</h1>
  오늘의 일기<br>
  정인이가 큰 사고를 쳤다.<br>
  너무 슬펐다.<br>
  반드시 기억해서 끝을 볼 것이다.<br>
  정인이는 한사람과의 인연을 잃게 될것이다.<br>
  정인이는 늘 왜곡과 선동이 패시브다<br>
  나는 기억할 것이다.<br>
  잠자는 숲속의 공주처럼, 꾸준히 잠들것이다. FOREVER.<br>
  <img src="{{ url_for('static', filename='img/cjg.jpg') }}" width = 465, height = 620>
  <img src="{{ url_for('static', filename='img/good.jpg') }}" width = 1260>
</body>
</html>